<a href="https://colab.research.google.com/github/bpandey369/CampusX_Cource/blob/main/Session_1_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

Happy Learning!

### Q1 :- Print the given strings as per stated format.

**Given strings**:
```
"Data" "Science" "Mentorship" "Program"
"By" "CampusX"
```
**Output**:
```
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [1]:
# Write your code here
print("Data","Science","Mentorship","Program",sep='-',end='-started-')
print("By","CampusX",sep='-')

Data-Science-Mentorship-Program-started-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [3]:
# Write your code here
celsius = float(input('Celsius valus: '))
fahrenheit = (celsius*(9/5)) +32
print('The Fahrenheit value is',fahrenheit)

Celsius valus: 0
The Fahrenheit value is 32.0

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [6]:
# Write your code here
num1 = int(input("First number: "))
num2 = int(input("Second number: "))
num = num1
num1 = num2
num2 = num
print('The number are: ',num1, 'and', num2)

First number: 10
Second number: 20
The number are:  20 and 10

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [8]:
# Write your code here
x1 = int(input('X1 coordinate: '))
x2 = int(input('X2 coordinate: '))
y1 = int(input('Y1 coordinate: '))
y2 = int(input('Y2 coordinate: '))
distance = ((x2-x1)**2+(y2-y1)**2)**0.5
print('Euclidean Distance: ',distance)

X1 coordinate: 0
X2 coordinate: 2
Y1 coordinate: 0
Y2 coordinate: 2
Euclidean Distance:  2.8284271247461903

### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [9]:
# Write your code here
principle = float(input('Principle Value: '))
rate = float(input('Rate Value in %: '))
time = float(input('Time Value in year: '))
interest = (principle*time*rate)/100
print('Simple Interest is: ',interest)

Principle Value: 10000
Rate Value in %: 10
Time Value in year: 1
Simple Interest is:  1000.0

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [18]:
# Write your code here
leg = int(input('Number of legs: '))
head = int(input('Number of heads: '))
dog = int((leg +(-2*head))/2)
chicken = int(head-dog)
print('Number of dog and chicken is {} and {}.'.format(dog,chicken))

Number of legs: 12
Number of heads: 4
Number of dog and chicken is 2 and 2.

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [11]:
# Write your code here
num = int(input('Enter a number: '))
sum = (num*(num+1)*(2*num*1))/6
print('Sum of squares of {} natural number is {}'.format(num,round(sum,2)))

Enter a number: 10
Sum of squares of 10 natural number is 366.67

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [13]:
# Write your code here
num1 = int(input('First Number: '))
num2 = int(input('Second Number: '))
num = int(input('Nth term: '))
diff = num2- num1
series_term = num1 + (num -1)*diff
print('{}th term of the series is {}.'.format(num,series_term))

First Number: 3
Second Number: 10
Nth term: 5
5th term of the series is 31.

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [14]:
# Write your code here
num1 = int(input('1st number numerator: '))
den1 = int(input('1st number denominator: '))
num2 = int(input('2nd number numerator: '))
den2 = int(input('2nd number denominator: '))
sum = (num1*den2+num2*den1)/(den1+den2)
print('Sum of two fraction values is',sum)

1st number numerator: 1
1st number denominator: 2
2nd number numerator: 1
2nd number denominator: 2
Sum of two fraction values is 1.0

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [15]:
# Write your code here

H = int(input('Height of tank:'))
L = int(input('Width of tank:'))
B = int(input('Breadth of tank:'))
h = int(input('Height of glass:'))
r = int(input('Radius of flass:'))
n = int((H*L*B)/(3.14*h*r**2))
print(n,'glass of milk can be obtain')

Height of tank:20
Width of tank:20
Breadth of tank:20
Height of glass:3
Radius of flass:1
849 glass of milk can be obtain